
nwhacks-2019-dev-ceeb0f9d0b09.json

firebase-debug.log
.runtimeconfig.json

nwhacks-2019-ccbb6837420c.json

*.DS_Store
node_modules

## Compiled JavaScript files
**/*.js
**/*.js.map

# Typescript v1 declaration files
typings/